<h1>Hello <%= @user.name %></h1>
<p>Email: <%= @user.email %></p>
<p>Phone Number: <%= @user.phone_number %></p>
<p>Family Phone Number: <%= @user.family_phone_number %></p>


<%= link_to '', profile_path(current_user) %>
<!-- <%#= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %> -->
<%= link_to "Log out", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, class: "btn btn-primary" %>
