<!-- app/views/medications/edit.html.erb -->
<h1>Edit Medication</h1>
<%= simple_form_for @medication, url: medication_path(@medication), method: :patch do |f| %>
  <%= f.input :name %>
  <%#= f.input :start_time %>
  <%= f.input :frequency_id, collection: @frequencies, label_method: :name, value_method: :id, selected: @medication.frequency_id, prompt: 'Select a Frequency', input_html: { class: 'form-control' } %>
  <%= f.button :submit, "Update" %>
  <%= button_to "Back", medications_path(@user), title: "Back", class: "btn btn-primary", method: :get %> <!-- This will create a primary back button -->
<% end %>
