<div class="container">
  <h1 class="mt-4">Hello<%= @user.name %></h1>
  <h3>Here is a list of your medications and status.</h3>
  <p>Click on the filtering below to display all your medications, today's medication and upcoming medications.</p>

  <div class="btn-group mt-4" role="group" aria-label="Filter Medications">
    <%= link_to 'All', medications_path, class: 'btn btn-secondary' %>
    <%= link_to 'Today', medications_path(filter: 'today'), class: 'btn btn-secondary' %>
    <%= link_to 'Tomorrow', medications_path(filter: 'tomorrow'), class: 'btn btn-secondary' %>
  </div>

  <ul class="list-group mt-4">
    <% @medications.reverse_each do |medication| %>
      <li class="list-group-item">
        <h1><%= medication.name %></h1>
              <p><strong>Instruction:</strong> <%= medication.instruction %></p>
              <p><strong>Quantity:</strong> <%= medication.quantity %></p>
              <p><strong>Med Type:</strong> <%= medication.med_type %></p>
              <p><strong>Start Date:</strong> <%= medication.start_date&.strftime("%B %e, %Y") %></p>
              <p><strong>End Date:</strong> <%= medication.end_date&.strftime("%B %e, %Y") %></p>


        <%= link_to 'Edit', edit_medication_path(medication), class: 'btn btn-primary mr-2' %>
        <%= link_to 'Delete', medication_path(medication), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this medication?' }, class: 'btn btn-danger' %>




      </li>
    <% end %>
  </ul>
