<body class="body-index">
<div class="container">
<div class="content">
  <div class="filter-meds" role="group" aria-label="Filter Medications">
    <%= link_to 'All', medications_path, class: 'btn btn-secondary index' %>
    <%= link_to 'Today', medications_path(filter: 'today'), class: 'btn btn-secondary index' %>
    <%= link_to 'Tomorrow', medications_path(filter: 'tomorrow'), class: 'btn btn-secondary index' %>
  </div>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
<% end %>

<!-- <% if @notifications.present? %>
  <% @notifications.each do |notification| %>
    <div class="alert alert-info">
      <%= notification.message %>
    </div>
  <% end %>
<% end %> -->


<div class="date-index">
<% if @date %>
  <p><%= @date %></p>
<% end %>
</div>

  <div class="meds-c">
  <% if @medications.present? %>
      <% @medications.reverse.each do |medication| %>
        <div class="rectangle-medi SlideDown">
          <a href="<%= medication_path(medication) %>" class="medication-link">
            <img src="https://i.ibb.co/1Rx7HYZ/pngwing-com-2.png" alt="pngwing-com-2" class="medication-image">
            <div class="medication-info">
              <h5 class="medication-name"><%= medication.name %></h5>
              <p class="medication-type"><%= medication.med_type %></p>
            </div>
          </a>
          <div class="red-checkbox-container">
            <%= check_box_tag "medication_ids[]", medication.id, false, class: "red-checkbox", data: { remote: true } %>
            <% if Notification.exists?(message: "It's Time to take your #{medication.med_type} of #{medication.name}") %>
            <span class="tick">✔️</span>
          <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No medications found.</p>
    <% end %>
  </div>
</div>
</body>
