<!-- Add this HTML to your view file (e.g., index.html.erb) -->

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% @medications.each_with_index do |medication, index| %>
      <div class="carousel-item <%= 'active' if index.zero? %>">
        <div class="card mx-auto body-container flip-card" style="width: 24rem; border-radius: 15px; overflow: hidden;">
          <div class="card-body flip-card-inner">
            <div class="flip-card-front">
              <h2><%= medication.name %></h2>
              <p><strong>Instruction:</strong> <%= medication.instruction %></p>
              <p><strong>Quantity:</strong> <%= medication.quantity %></p>
              <p><strong>Med Type:</strong> <%= medication.med_type %></p>
              <p><strong>Start Date:</strong> <%= medication.start_date&.strftime("%B %e, %Y") %></p>
              <p><strong>End Date:</strong> <%= medication.end_date&.strftime("%B %e, %Y") %></p>
            </div>
            <div class="flip-card-back">
              <div class="text-center mt-3">
                <%= link_to 'Edit', edit_medication_path(medication), class: 'btn btn-primary btn-sm rounded-pill mx-1' %>
                <%= link_to 'Destroy', medication, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm rounded-pill mx-1' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
