<h1>Set Medication Duration</h1>

<%= simple_form_for @medication, url: set_duration_medication_path(@medication), method: :patch do |f| %>
  <%# <%= f.input :start_date, label: 'Start Date', as: :date, start_year: Date.today.year, end_year: Date.today.year + 10, placeholder: { year: 'Select Year', month: 'Select Month', day: 'Select Day' }, value: nil %> %>
  <%# <%= f.input :end_date, label: 'End Date', as: :date, start_year: Date.today.year, end_year: Date.today.year + 10, placeholder: { year: 'Select Year', month: 'Select Month', day: 'Select Day' }, value: nil %> %>
   <%= f.input :start_date, as: :date_select %>
  <%= f.input :end_date, as: :date_select %>
  <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
  <%= link_to 'Back', dashboards_path, class: 'btn btn-secondary' %>
<% end %>
