<body class="body-gradient">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card mb-3 card-gradient slideDown card-border">
          <div class="card-header text-white">
            <h1><%= @medication.name %></h1>
          </div>
          <div class="card-body">
            <% if @medication.frequency %>
              <!-- <p><strong>Name:</strong> <%= @medication.name %></p> -->
              <p><strong>Start Date:</strong> <%= @medication.start_date.strftime("%B %d, %Y") %></p>
              <p><strong>End Date:</strong> <%= @medication.end_date.strftime("%B %d, %Y") %></p>
              <p><strong>Start time:</strong> <%=@medication.start_time.strftime("%H:%M")%></p>
              <p><strong>Medication Type:</strong> <%= @medication.med_type %></p>
              <p><strong>Duration:</strong> <%= @medication.duration %> days</p>
              <p><strong>Quantity:</strong> <%= @medication.quantity %></p>
              <p><strong>Frequency:</strong> <%= @medication.frequency %></p>
              <p><strong>Instruction:</strong> <%= @medication.instruction %></p>
              <p><strong>Interval:</strong> <%= @medication.interval.name %></p>

            <% else %>
              <p><strong>Frequency:</strong> Not specified</p>
            <% end %>
          </div>
          <div class="card-footer transparent-bg d-flex justify-content-center">

            <%= link_to edit_medication_path(@medication), class: 'btn btn-show' do %>
            <i class="fas fa-edit"></i> Edit
          <% end %>

          <%= link_to @medication, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-delete btn-show' do %>
            <i class="fas fa-trash-alt"></i> Delete
          <% end %>

          <%= link_to medications_path, class: 'btn  btn-show' do %>
            <i class="fas fa-arrow-left"></i> Back
          <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
